* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2rem;
}
main {
    flex-grow: 1;
}
.galeria {
    height: 100%;
    width: 100%;
    display: flex;
}
.foto {
    border: 2px solid black;
}
.galeria > .foto {
    width: 25%;
    height: 100%;
    background-color: greenyellow;
}
.container-direita {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container-superior {
    flex-grow: 1;
    background-color: brown;
    display: flex;
}
.container-superior-esquerda {
    background-color: black;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}
.container-superior-esquerda .foto {
    width: 50%;
    height: 50%;
    background-color: aqua;
}
.container-superior-esquerda .foto:nth-of-type(1){
    width: 100%;
}
.container-superior > .foto {
    width: 25%;
    height: 100%;
    background-color: tomato;
}
.container-inferior {
    flex-grow: 1;
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-inferior .foto{
    width: 37.5%;
    height: 50%;
    background-color: lightgreen;s
}
.container-inferior .foto:nth-of-type(3){
    height: 100%;
    width: 80%;
}
  

footer {
    height: 50px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}